* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button-yes,
.button-no {
  width: 50px;
  height: 30px;
  border: 0px;
}

.button-no {
  background-color: #FF5C00;
}

.button-yes {
  background-color: #7EFF33;
}

.button-no:hover,
.button-yes:hover {
  cursor: pointer;
}